:root {
    --primary-text-color: #4D5AE5;
    --primary-fon-color: #FFFFFF;
    --color-section-logo: #F4F4FD;
    --color-body-text: #2E2F42;
    --color-footer-text: #E7E9FC;
    --color-mail-tel-p-text: #434455;
    --color-active: rgba(77, 90, 229, 0.2);
    --color-border: #F4F4FD;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-body-text);
    background-color: var(--primary-fon-color);
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: var(--color-body-text);
}

/* hover/:focus/:active */
a:hover,
a:focus {
    color: var(--primary-text-color);
}

a:active {
    color: var(--color-active);
}

/* header */
.header {
    border-bottom: 0.5px outset var(--color-border);
}

.nav-contact {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* логотип */
.logo-header {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    margin-right: 77px;
}

/* цвет логотипа Web */
span {
    color: var(--primary-text-color);
}

/* ссылки на страницы */
.nav-href {
    display: flex;
    margin-right: auto; 
}

.navigation, .link {
    list-style-type: none;
    margin-right: 40px;
    display: flex;
}

li :last-child {
    margin-right: 0px;
}

/* подсветка текушей страницы */
.nav-corrent { color: var(--primary-text-color)} 

/* contact меил и телефон */
.contact {
    list-style-type: none;
    display: flex;
}

.contact-mail {
    color: var(--color-mail-tel-p-text);
    font-weight: 400;
    margin-right: 40px;
}

.contact-tel {
    color: var(--color-mail-tel-p-text);
    font-weight: 400;
  /*  сделать тень телефон #000000 */
}


/* main для index.html*/
.section-block {
    background-color: var(--color-body-text);
    height: 603px;
}

/* заголовок H1 */
.title {
    color: var(--primary-fon-color);
    padding-top: 192px;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
}

/* кнопка  */
button {
    background-color: var(--color-border);
    color: var(--primary-text-color);
    cursor: pointer;
    font-weight: 600;
}

button:hover,
button:focus {
    background-color: var(--primary-text-color);
    color: var(--primary-fon-color);
}

.button-main {
    margin-top: 48px;
    margin-right: 635px;
    margin-left: 635px;
    width: 170px;
    height: 51px;
    border-radius: 4px;
}

/* < !-- Section 1 --> */
.section1 {
    margin-top: 120px;
}

.feature-list {
    list-style-type: none;
    display: inline-block;
    margin-right: 24px;
    height: 104px;
    }

.feature-list:last-child {
    padding-right: 0;
    margin-right: 0;
    }

/* slogan --- p */
.slogan-section1 {
    color: var(--color-mail-tel-p-text);
    font-weight: 400;
    line-height: 24px;
    margin-top: 8px;
    }


/* < !-- Section 2 --> */
.section2 {
    margin-top: 120px;
}

ul, .link-section2 {
    list-style-type: none;
    display: inline-flex;
    padding-right: 24px;
}

.link-section2 :last-child {
    margin-right: 0;

}

/* text H2 */
.title-text-2 {
    padding-bottom: 72px;
    text-align: center;
}

/* < !-- Section 3 --> */
.section3 {
    text-align: center;
    background-color: var(--color-section-logo);
    height: 732px;
    margin-top: 120px;
}

/* text H2 */
.title-text-3 {
    padding-top: 120px;
    padding-bottom: 72px;
}

.slogan-section3 {
    color: var(--color-mail-tel-p-text);
    font-weight: 400;
    line-height: 24px;
    width: 264px;
}

.list-photo {
    list-style-type: none;
    display: inline-block;
    margin-right: 24px;
    border: 0.5px outset var(--color-border);
    background-color: var(--primary-fon-color);
}


/* footer */
.footer {
    background-color: var(--color-body-text);
    height: 310px;
}

/* логотип */
.logo-footer {
    color: var(--color-section-logo);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 100px;
}

.text-footer {
    color: var(--color-footer-text);
    line-height: 24px;
    padding-top: 16px;
    width: 264px;
}


/* main для portfolio.html*/
/* Filters - кнопки button  */
.button-portfolio {
    margin: 96px 427px 72px 427px;
    height: 48px;
    width: 586px;
}

.portfolio-link {
    margin-left: 24px;
    display: flex;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    background-color: var(--color-section-logo);
    border: 1px solid var(--color-footer-text);
    border-radius: 4px;
}


/* < !-- Section --> */
.flex-container {
    display: flex;
}

.flex-container, .list {
    width: 360px;
    height: 420px;
    margin-right: 24px;
    margin-bottom: 48px;
    list-style-type: none;
    border: 0.5px outset var(--color-border);
}

.flex-container:nth-last-child(3n + 1) {
    margin-bottom: 120px;
    padding-bottom: 0;
}

/* < !-- Section 1 --> */
/* < !-- Section 2 --> */
/* < !-- Section 3 --> */

/* H3 ---- subtitle */
.subtitle {
    margin-top: 32px;
    margin-bottom: 8px;
    margin-left: 16px;
}

/* slogan --- p */
.slogan {
    color: var(--color-mail-tel-p-text);
    font-weight: 400;
    line-height: 24px;
    margin-left: 16px;
}
